extends layout

block content
  div(class='wrap')
      div(class='headers')
        img(src='phone_battery.jpg' height='300')
        h2 Battery: 
          ul Up to 50% charge in 30 minutes10 with 20W adapter or higher (sold separately)
          ul Built-in rechargeable lithium‑ion battery
          ul Video playback up to 17 hours
        img(id='phone_sensors' src='phone_sensor.jpg' height='300')
        h2 Sensors:
          ul Face ID
          ul Barometer
          ul Three‑axis gyro
          ul Accelerometer
          ul Proximity sensor
          ul Ambient light sensor
        img(src='phone_display.jpg' height='300')
        h2 Display:
          ul Liquid Retina HD display
          ul 6.1‑inch (diagonal) all-screen LCD Multi-Touch display with IPS technology
          ul 1792‑by‑828‑pixel resolution at 326 ppi
          ul 1400:1 contrast ratio (typical)
          ul True Tone display
          ul Wide color display (P3)
          ul Haptic Touch
          ul 625 nits max brightness (typical)
          ul Fingerprint‑resistant oleophobic coating
          ul Support for display of multiple languages and characters simultaneously
          img(src='phone1.jpg' height='300')