extends layout

block content
  div(class='wrap')
    div(class='headers')
      img(src='floating_phone.jpg' height='300')
      p(class='paragraphs') Bio: Coming By 2030, is the new Iphone Levi! This phone is basically the same as all previous models but it can now levitate because why not!
      p(class='paragraphs') Additional Info: If you want to learn more about this crowning achievement, check out the Features Page. If you want to pre-order one, click on the Orders page.