extends layout

block content
  form(id='form' method='post' action='/')
    p Username:
      input(type='text' name='username')
      br
    p Password:
      input(type='text' name='password')
      br
    p 
      input(type='submit' value='Login')
  div(id='createAccount')
    a(href="/create") Create account
  canvas(id ='myMovie' height ='100' weight ='100') 
  canvas(id ='myMood' height ='100' weight ='100') 
  canvas(id ='myAnimal' height ='100' weight ='100') 

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
  script(src="script.js")
