doctype
html
  head
    title=title
    link(href='/style.css', rel='stylesheet')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet")
  body
    h3=title
    block content
    